*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* --- */

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
}

/* --- */

#container {
  height: 100vh;

  padding: 10px;

  background-color: lightblue;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --- */

p {
  color: lightgray;
  font-size: 3em;
  text-align: center;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}
